<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Id</key>
		<integer>1</integer>
		<key>Name</key>
		<string>告白氣球專賣電</string>
		<key>Cls</key>
		<string>電機一乙</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>2</integer>
		<key>Name</key>
		<string>控制味蕾</string>
		<key>Cls</key>
		<string>控制一乙</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>3</integer>
		<key>Name</key>
		<string>2分之雞排</string>
		<key>Cls</key>
		<string>資訊一乙</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>4</integer>
		<key>Name</key>
		<string>安安冷凍ㄎㄧㄤ甲</string>
		<key>Cls</key>
		<string>冷凍一甲</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>5</integer>
		<key>Name</key>
		<string>尋找紅心八</string>
		<key>Cls</key>
		<string>【進修】機械一甲</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>6</integer>
		<key>Name</key>
		<string>一忠美食區</string>
		<key>Cls</key>
		<string>綜高一忠</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>7</integer>
		<key>Name</key>
		<string>建甲廚房</string>
		<key>Cls</key>
		<string>建築一甲</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>8</integer>
		<key>Name</key>
		<string>666九宮格</string>
		<key>Cls</key>
		<string>汽車一甲</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>9</integer>
		<key>Name</key>
		<string>跳备市場</string>
		<key>Cls</key>
		<string>【進修】電機一甲</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>10</integer>
		<key>Name</key>
		<string>看見大安的吸菸區</string>
		<key>Cls</key>
		<string>【進修】電子一甲</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>11</integer>
		<key>Name</key>
		<string>讚甲乙</string>
		<key>Cls</key>
		<string>電子一乙</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>12</integer>
		<key>Name</key>
		<string>菜逼巴，一抽入魂</string>
		<key>Cls</key>
		<string>機械一乙</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>13</integer>
		<key>Name</key>
		<string>賣東西</string>
		<key>Cls</key>
		<string>【進修】電機一乙</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>14</integer>
		<key>Name</key>
		<string>圖傳一甲</string>
		<key>Cls</key>
		<string>圓傳一甲</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>15</integer>
		<key>Name</key>
		<string>淇淋賣飲，炒爆妳 </string>
		<key>Cls</key>
		<string>電機一甲</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>16</integer>
		<key>Name</key>
		<string>【大安高工@瑞安所】</string>
		<key>Cls</key>
		<string>【其他】</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>17</integer>
		<key>Name</key>
		<string>【國軍人才招募中心】</string>
		<key>Cls</key>
		<string>【其他】</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>18</integer>
		<key>Name</key>
		<string>【大安高工@少年隊】</string>
		<key>Cls</key>
		<string>【其他】</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>19</integer>
		<key>Name</key>
		<string>【大安高工@家長會】</string>
		<key>Cls</key>
		<string>【其他】</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>20</integer>
		<key>Name</key>
		<string>【大安高工@家長會】</string>
		<key>Cls</key>
		<string>【其他】</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>21</integer>
		<key>Name</key>
		<string>冰乙館</string>
		<key>Cls</key>
		<string>圖傳一乙</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>22</integer>
		<key>Name</key>
		<string></string>
		<key>Cls</key>
		<string>【進修】圖傳一甲</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>23</integer>
		<key>Name</key>
		<string>等一仁炒泡</string>
		<key>Cls</key>
		<string>綜高一仁</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>24</integer>
		<key>Name</key>
		<string>飮品鋪</string>
		<key>Cls</key>
		<string>【進修】汽車一甲</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>25</integer>
		<key>Name</key>
		<string>社會主義共和國聯邦</string>
		<key>Cls</key>
		<string>資訊一甲</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>26</integer>
		<key>Name</key>
		<string>牛頭馬麵</string>
		<key>Cls</key>
		<string>冷凍一乙</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>27</integer>
		<key>Name</key>
		<string>製圖一乙</string>
		<key>Cls</key>
		<string>製圖一乙</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>28</integer>
		<key>Name</key>
		<string>熱糖水</string>
		<key>Cls</key>
		<string>控制一甲</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>29</integer>
		<key>Name</key>
		<string>電雞二甲</string>
		<key>Cls</key>
		<string>電機二甲</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>30</integer>
		<key>Name</key>
		<string>義國風情</string>
		<key>Cls</key>
		<string>製圖一甲</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>31</integer>
		<key>Name</key>
		<string>手洗橘</string>
		<key>Cls</key>
		<string>機一甲</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>32</integer>
		<key>Name</key>
		<string>汽ㄆㄨㄆㄨ燒肉粽</string>
		<key>Cls</key>
		<string>汽車一乙</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>33</integer>
		<key>Name</key>
		<string>破病建一甲</string>
		<key>Cls</key>
		<string>【進修】建簗一甲</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>34</integer>
		<key>Name</key>
		<string>美食國</string>
		<key>Cls</key>
		<string>綜職一</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>35</integer>
		<key>Name</key>
		<string>熱氣a吐司</string>
		<key>Cls</key>
		<string>建簗一乙</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>36</integer>
		<key>Name</key>
		<string>滷至生</string>
		<key>Cls</key>
		<string>綜高一愛</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>37</integer>
		<key>Name</key>
		<string>班聯會-九宮茶</string>
		<key>Cls</key>
		<string>【社團】</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>38</integer>
		<key>Name</key>
		<string>班聯會-九宮茶</string>
		<key>Cls</key>
		<string>【社團】班聯會-九宮茶</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>39</integer>
		<key>Name</key>
		<string>舒牌刮鬍刀</string>
		<key>Cls</key>
		<string>【訓育組】</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>40</integer>
		<key>Name</key>
		<string>飲食均衡運動好,別抽菸幸福相隨</string>
		<key>Cls</key>
		<string>【健康中心】</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>41</integer>
		<key>Name</key>
		<string>孝班的攤位</string>
		<key>Cls</key>
		<string>綜高一孝</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>42</integer>
		<key>Name</key>
		<string>烤肉遊皻攤</string>
		<key>Cls</key>
		<string>汽車二乙</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>43</integer>
		<key>Name</key>
		<string>潮麵</string>
		<key>Cls</key>
		<string>資訊二甲</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>44</integer>
		<key>Name</key>
		<string>子一甲甲</string>
		<key>Cls</key>
		<string>電子一甲</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>45</integer>
		<key>Name</key>
		<string>愷哥三明治</string>
		<key>Cls</key>
		<string>【進修】汽車一乙</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>46</integer>
		<key>Name</key>
		<string>音-香漸愄晚</string>
		<key>Cls</key>
		<string>【社團】</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>47</integer>
		<key>Name</key>
		<string>吉他-珍奶撞泡麵</string>
		<key>Cls</key>
		<string>【社團】</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>48</integer>
		<key>Name</key>
		<string>流音-流音車輪餅</string>
		<key>Cls</key>
		<string>【社團】</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>49</integer>
		<key>Name</key>
		<string>三研-三研乾冰汽水</string>
		<key>Cls</key>
		<string>【社團】</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>50</integer>
		<key>Name</key>
		<string>紫錐花-青蛙大戰粉紅吹風機</string>
		<key>Cls</key>
		<string>【社團】</string>
	</dict>
</array>
</plist>
